{"openapi": "3.1.0", "info": {"title": "OpenAPI Spec", "version": "0.0.0"}, "servers": [{"url": "https://sky.dstack.ai", "description": "dstack Sky"}, {"url": "http://localhost:3000", "description": "Local server"}], "paths": {"/api/server/get_info": {"post": {"tags": ["server"], "summary": "Get server info", "operationId": "get_server_info_api_server_get_info_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ServerInfo"}}}}}}}, "/api/users/list": {"post": {"tags": ["users"], "summary": "List users", "description": "Returns users visible to the user, sorted by descending `created_at`.\n\nAdmins see all non-deleted users. Non-admins only see themselves.\n\nThe results are paginated. To get the next page, pass `created_at` and `id` of\nthe last user from the previous page as `prev_created_at` and `prev_id`.", "operationId": "list_users_api_users_list_post", "requestBody": {"content": {"application/json": {"schema": {"anyOf": [{"$ref": "#/components/schemas/ListUsersRequest"}, {"type": "null"}], "title": "Body"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"anyOf": [{"items": {"$ref": "#/components/schemas/User"}, "type": "array"}, {"$ref": "#/components/schemas/UsersInfoList"}], "title": "Response List Users Api Users List Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/users/get_my_user": {"post": {"tags": ["users"], "summary": "Get my user", "operationId": "get_my_user_api_users_get_my_user_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserWithCreds"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/users/get_user": {"post": {"tags": ["users"], "summary": "Get user", "operationId": "get_user_api_users_get_user_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetUserRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserWithCreds"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/users/create": {"post": {"tags": ["users"], "summary": "Create user", "operationId": "create_user_api_users_create_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateUserRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/User"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/users/update": {"post": {"tags": ["users"], "summary": "Update user", "operationId": "update_user_api_users_update_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateUserRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/User"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/users/refresh_ssh_key": {"post": {"tags": ["users"], "summary": "Refresh SSH key", "operationId": "refresh_ssh_key_api_users_refresh_ssh_key_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/RefreshTokenRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserWithCreds"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/users/refresh_token": {"post": {"tags": ["users"], "summary": "Refresh token", "operationId": "refresh_token_api_users_refresh_token_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/RefreshTokenRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserWithCreds"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/users/delete": {"post": {"tags": ["users"], "summary": "Delete users", "operationId": "delete_users_api_users_delete_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteUsersRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/auth/list_providers": {"post": {"tags": ["authentication"], "summary": "List OAuth providers", "description": "Returns OAuth2 providers registered on the server.", "operationId": "list_providers_api_auth_list_providers_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"items": {"$ref": "#/components/schemas/OAuthProviderInfo"}, "type": "array", "title": "Response List Providers Api Auth List Providers Post"}}}}}}}, "/api/auth/get_next_redirect": {"post": {"tags": ["authentication"], "summary": "Get next redirect URL", "description": "A helper endpoint that returns the next redirect URL in case the state encodes it.\nCan be used by the UI after the redirect from the provider\nto determine if the user needs to be redirected further (CLI login)\nor the auth callback endpoint needs to be called directly (UI login).", "operationId": "get_next_redirect_api_auth_get_next_redirect_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/OAuthGetNextRedirectRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OAuthGetNextRedirectResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/projects/list": {"post": {"tags": ["projects"], "summary": "List projects", "description": "Returns projects visible to the user.\n\nReturns all accessible projects (member projects for regular users, all non-deleted\nprojects for global admins, plus public projects if `include_not_joined` is `True`).\n\n`members` and `backends` are always empty - call `/api/projects/{project_name}/get` to retrieve them.", "operationId": "list_projects_api_projects_list_post", "requestBody": {"content": {"application/json": {"schema": {"anyOf": [{"$ref": "#/components/schemas/ListProjectsRequest"}, {"type": "null"}], "title": "Body"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"anyOf": [{"items": {"$ref": "#/components/schemas/Project"}, "type": "array"}, {"$ref": "#/components/schemas/ProjectsInfoList"}], "title": "Response List Projects Api Projects List Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/projects/list_only_no_fleets": {"post": {"tags": ["projects"], "summary": "List projects with no active fleets", "description": "Returns only projects where the user is a member and that have no active fleets,\nneither owned nor imported, sorted by ascending `created_at`.\n\nActive fleets are those with `deleted == False`. Projects with deleted fleets\n(but no active fleets) are included.\n\n`members` and `backends` are always empty - call `/api/projects/{project_name}/get` to retrieve them.", "operationId": "list_only_no_fleets_api_projects_list_only_no_fleets_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"items": {"$ref": "#/components/schemas/Project"}, "type": "array", "title": "Response List Only No Fleets Api Projects List Only No Fleets Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/projects/create": {"post": {"tags": ["projects"], "summary": "Create project", "operationId": "create_project_api_projects_create_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateProjectRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Project"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/projects/delete": {"post": {"tags": ["projects"], "summary": "Delete projects", "operationId": "delete_projects_api_projects_delete_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteProjectsRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/projects/{project_name}/get": {"post": {"tags": ["projects"], "summary": "Get project", "operationId": "get_project_api_projects__project_name__get_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Project"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/projects/{project_name}/set_members": {"post": {"tags": ["projects"], "summary": "Set members", "operationId": "set_project_members_api_projects__project_name__set_members_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SetProjectMembersRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Project"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/projects/{project_name}/add_members": {"post": {"tags": ["projects"], "summary": "Add members", "operationId": "add_project_members_api_projects__project_name__add_members_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AddProjectMemberRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Project"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/projects/{project_name}/remove_members": {"post": {"tags": ["projects"], "summary": "Remove members", "operationId": "remove_project_members_api_projects__project_name__remove_members_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RemoveProjectMemberRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Project"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/projects/{project_name}/update": {"post": {"tags": ["projects"], "summary": "Update project", "operationId": "update_project_api_projects__project_name__update_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateProjectRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Project"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/backends/list_types": {"post": {"tags": ["backends"], "summary": "List backend types", "operationId": "list_backend_types_api_backends_list_types_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"items": {"$ref": "#/components/schemas/BackendType"}, "type": "array", "title": "Response List Backend Types Api Backends List Types Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}}}}, "/api/project/{project_name}/backends/create": {"post": {"tags": ["backends"], "summary": "Create backend", "operationId": "create_backend_api_project__project_name__backends_create_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"anyOf": [{"$ref": "#/components/schemas/AWSBackendConfigWithCreds"}, {"$ref": "#/components/schemas/AzureBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CloudRiftBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CrusoeBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CudoBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VerdaBackendConfigWithCreds"}, {"$ref": "#/components/schemas/BaseDigitalOceanBackendConfigWithCreds"}, {"$ref": "#/components/schemas/GCPBackendConfigWithCreds"}, {"$ref": "#/components/schemas/HotAisleBackendConfigWithCreds"}, {"$ref": "#/components/schemas/JarvisLabsBackendConfigWithCreds"}, {"$ref": "#/components/schemas/KubernetesBackendConfigWithCreds"}, {"$ref": "#/components/schemas/LambdaBackendConfigWithCreds"}, {"$ref": "#/components/schemas/OCIBackendConfigWithCreds"}, {"$ref": "#/components/schemas/NebiusBackendConfigWithCreds"}, {"$ref": "#/components/schemas/RunpodBackendConfigWithCreds"}, {"$ref": "#/components/schemas/TensorDockBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VastAIBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VultrBackendConfigWithCreds"}, {"$ref": "#/components/schemas/SlurmBackendConfigWithCreds"}, {"$ref": "#/components/schemas/DstackBackendConfig"}], "title": "Body"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"anyOf": [{"$ref": "#/components/schemas/AWSBackendConfigWithCreds"}, {"$ref": "#/components/schemas/AzureBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CloudRiftBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CrusoeBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CudoBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VerdaBackendConfigWithCreds"}, {"$ref": "#/components/schemas/BaseDigitalOceanBackendConfigWithCreds"}, {"$ref": "#/components/schemas/GCPBackendConfigWithCreds"}, {"$ref": "#/components/schemas/HotAisleBackendConfigWithCreds"}, {"$ref": "#/components/schemas/JarvisLabsBackendConfigWithCreds"}, {"$ref": "#/components/schemas/KubernetesBackendConfigWithCreds"}, {"$ref": "#/components/schemas/LambdaBackendConfigWithCreds"}, {"$ref": "#/components/schemas/OCIBackendConfigWithCreds"}, {"$ref": "#/components/schemas/NebiusBackendConfigWithCreds"}, {"$ref": "#/components/schemas/RunpodBackendConfigWithCreds"}, {"$ref": "#/components/schemas/TensorDockBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VastAIBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VultrBackendConfigWithCreds"}, {"$ref": "#/components/schemas/SlurmBackendConfigWithCreds"}, {"$ref": "#/components/schemas/DstackBackendConfig"}], "title": "Response Create Backend Api Project  Project Name  Backends Create Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/backends/update": {"post": {"tags": ["backends"], "summary": "Update backend", "operationId": "update_backend_api_project__project_name__backends_update_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"anyOf": [{"$ref": "#/components/schemas/AWSBackendConfigWithCreds"}, {"$ref": "#/components/schemas/AzureBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CloudRiftBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CrusoeBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CudoBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VerdaBackendConfigWithCreds"}, {"$ref": "#/components/schemas/BaseDigitalOceanBackendConfigWithCreds"}, {"$ref": "#/components/schemas/GCPBackendConfigWithCreds"}, {"$ref": "#/components/schemas/HotAisleBackendConfigWithCreds"}, {"$ref": "#/components/schemas/JarvisLabsBackendConfigWithCreds"}, {"$ref": "#/components/schemas/KubernetesBackendConfigWithCreds"}, {"$ref": "#/components/schemas/LambdaBackendConfigWithCreds"}, {"$ref": "#/components/schemas/OCIBackendConfigWithCreds"}, {"$ref": "#/components/schemas/NebiusBackendConfigWithCreds"}, {"$ref": "#/components/schemas/RunpodBackendConfigWithCreds"}, {"$ref": "#/components/schemas/TensorDockBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VastAIBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VultrBackendConfigWithCreds"}, {"$ref": "#/components/schemas/SlurmBackendConfigWithCreds"}, {"$ref": "#/components/schemas/DstackBackendConfig"}], "title": "Body"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"anyOf": [{"$ref": "#/components/schemas/AWSBackendConfigWithCreds"}, {"$ref": "#/components/schemas/AzureBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CloudRiftBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CrusoeBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CudoBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VerdaBackendConfigWithCreds"}, {"$ref": "#/components/schemas/BaseDigitalOceanBackendConfigWithCreds"}, {"$ref": "#/components/schemas/GCPBackendConfigWithCreds"}, {"$ref": "#/components/schemas/HotAisleBackendConfigWithCreds"}, {"$ref": "#/components/schemas/JarvisLabsBackendConfigWithCreds"}, {"$ref": "#/components/schemas/KubernetesBackendConfigWithCreds"}, {"$ref": "#/components/schemas/LambdaBackendConfigWithCreds"}, {"$ref": "#/components/schemas/OCIBackendConfigWithCreds"}, {"$ref": "#/components/schemas/NebiusBackendConfigWithCreds"}, {"$ref": "#/components/schemas/RunpodBackendConfigWithCreds"}, {"$ref": "#/components/schemas/TensorDockBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VastAIBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VultrBackendConfigWithCreds"}, {"$ref": "#/components/schemas/SlurmBackendConfigWithCreds"}, {"$ref": "#/components/schemas/DstackBackendConfig"}], "title": "Response Update Backend Api Project  Project Name  Backends Update Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/backends/delete": {"post": {"tags": ["backends"], "summary": "Delete backends", "operationId": "delete_backends_api_project__project_name__backends_delete_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteBackendsRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/backends/{backend_name}/config_info": {"post": {"tags": ["backends"], "summary": "Get backend config info", "operationId": "get_backend_config_info_api_project__project_name__backends__backend_name__config_info_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "backend_name", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/BackendType"}}, {"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"anyOf": [{"$ref": "#/components/schemas/AWSBackendConfigWithCreds"}, {"$ref": "#/components/schemas/AzureBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CloudRiftBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CrusoeBackendConfigWithCreds"}, {"$ref": "#/components/schemas/CudoBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VerdaBackendConfigWithCreds"}, {"$ref": "#/components/schemas/BaseDigitalOceanBackendConfigWithCreds"}, {"$ref": "#/components/schemas/GCPBackendConfigWithCreds"}, {"$ref": "#/components/schemas/HotAisleBackendConfigWithCreds"}, {"$ref": "#/components/schemas/JarvisLabsBackendConfigWithCreds"}, {"$ref": "#/components/schemas/KubernetesBackendConfigWithCreds"}, {"$ref": "#/components/schemas/LambdaBackendConfigWithCreds"}, {"$ref": "#/components/schemas/OCIBackendConfigWithCreds"}, {"$ref": "#/components/schemas/NebiusBackendConfigWithCreds"}, {"$ref": "#/components/schemas/RunpodBackendConfigWithCreds"}, {"$ref": "#/components/schemas/TensorDockBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VastAIBackendConfigWithCreds"}, {"$ref": "#/components/schemas/VultrBackendConfigWithCreds"}, {"$ref": "#/components/schemas/SlurmBackendConfigWithCreds"}, {"$ref": "#/components/schemas/DstackBackendConfig"}], "title": "Response Get Backend Config Info Api Project  Project Name  Backends  Backend Name  Config Info Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/backends/create_yaml": {"post": {"tags": ["backends"], "summary": "Create backend YAML", "operationId": "create_backend_yaml_api_project__project_name__backends_create_yaml_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateBackendYAMLRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/backends/update_yaml": {"post": {"tags": ["backends"], "summary": "Update backend YAML", "operationId": "update_backend_yaml_api_project__project_name__backends_update_yaml_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateBackendYAMLRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/backends/{backend_name}/get_yaml": {"post": {"tags": ["backends"], "summary": "Get backend YAML", "operationId": "get_backend_yaml_api_project__project_name__backends__backend_name__get_yaml_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "backend_name", "in": "path", "required": true, "schema": {"$ref": "#/components/schemas/BackendType"}}, {"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BackendInfoYAML"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/fleets/list": {"post": {"tags": ["fleets"], "summary": "List fleets", "description": "Returns all fleets and instances within them visible to user sorted by descending `created_at`.\n`project_name` and `only_active` can be specified as filters.\nIncludes only active fleet instances. To list all fleet instances, use `/api/instances/list`.\n\nThe results are paginated. To get the next page, pass `created_at` and `id` of\nthe last fleet from the previous page as `prev_created_at` and `prev_id`.", "operationId": "list_fleets_api_fleets_list_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListFleetsRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"items": {"$ref": "#/components/schemas/Fleet-Output"}, "type": "array", "title": "Response List Fleets Api Fleets List Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/project/{project_name}/fleets/list": {"post": {"tags": ["fleets"], "summary": "List project fleets", "description": "Returns all fleets in the project.\nIncludes only active fleet instances. To list all fleet instances, use `/api/instances/list`.", "operationId": "list_project_fleets_api_project__project_name__fleets_list_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"content": {"application/json": {"schema": {"anyOf": [{"$ref": "#/components/schemas/ListProjectFleetsRequest"}, {"type": "null"}], "title": "Body"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Fleet-Output"}, "title": "Response List Project Fleets Api Project  Project Name  Fleets List Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/fleets/get": {"post": {"tags": ["fleets"], "summary": "Get fleet", "description": "Returns a fleet given `name` or `id`.\nIf given `name`, does not return deleted fleets.\nIf given `id`, returns deleted fleets.", "operationId": "get_fleet_api_project__project_name__fleets_get_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetFleetRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Fleet-Output"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/fleets/get_plan": {"post": {"tags": ["fleets"], "summary": "Get fleet plan", "description": "Returns a fleet plan for the given fleet configuration.", "operationId": "get_plan_api_project__project_name__fleets_get_plan_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetFleetPlanRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FleetPlan"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/fleets/apply": {"post": {"tags": ["fleets"], "summary": "Apply fleet plan", "description": "Creates a new fleet or updates an existing fleet.\nErrors if the expected current resource from the plan does not match the current resource.\nUse `force: true` to apply even if the current resource does not match.", "operationId": "apply_plan_api_project__project_name__fleets_apply_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApplyFleetPlanRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Fleet-Output"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/fleets/delete": {"post": {"tags": ["fleets"], "summary": "Delete fleets", "description": "Deletes one or more fleets.", "operationId": "delete_fleets_api_project__project_name__fleets_delete_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteFleetsRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/fleets/delete_instances": {"post": {"tags": ["fleets"], "summary": "Delete fleet instances", "description": "Deletes one or more instances within the fleet.", "operationId": "delete_fleet_instances_api_project__project_name__fleets_delete_instances_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteFleetInstancesRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/instances/list": {"post": {"tags": ["fleets"], "summary": "List Instances", "description": "Returns all instances visible to user sorted by descending `created_at`.\n`project_names` and `fleet_ids` can be specified as filters.\n\nThe results are paginated. To get the next page, pass `created_at` and `id` of\nthe last instance from the previous page as `prev_created_at` and `prev_id`.", "operationId": "list_instances_api_instances_list_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListInstancesRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"items": {"$ref": "#/components/schemas/Instance"}, "type": "array", "title": "Response List Instances Api Instances List Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/project/{project_name}/instances/get_instance_health_checks": {"post": {"tags": ["fleets"], "summary": "Get Instance Health Checks", "operationId": "get_instance_health_checks_api_project__project_name__instances_get_instance_health_checks_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetInstanceHealthChecksRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetInstanceHealthChecksResponse"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/instances/get": {"post": {"tags": ["fleets"], "summary": "Get Instance", "description": "Returns an instance given its ID.", "operationId": "get_instance_api_project__project_name__instances_get_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetInstanceRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Instance"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/repos/list": {"post": {"tags": ["repos"], "summary": "List repos", "operationId": "list_repos_api_project__project_name__repos_list_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/RepoHead"}, "title": "Response List Repos Api Project  Project Name  Repos List Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/repos/get": {"post": {"tags": ["repos"], "summary": "Get repo", "operationId": "get_repo_api_project__project_name__repos_get_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetRepoRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RepoHeadWithCreds"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/repos/init": {"post": {"tags": ["repos"], "summary": "Initialize repo", "description": "Creates or updates a repo with the repo info and repo creds.\nRuns belong to repos, so this endpoint must be called before applying run configurations.\nYou can create `virtual` repos if you don't use git repos.", "operationId": "init_repo_api_project__project_name__repos_init_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SaveRepoCredsRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/repos/delete": {"post": {"tags": ["repos"], "summary": "Delete repos", "operationId": "delete_repos_api_project__project_name__repos_delete_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteReposRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/repos/upload_code": {"post": {"tags": ["repos"], "summary": "Upload code", "operationId": "upload_code_api_project__project_name__repos_upload_code_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "repo_id", "in": "query", "required": true, "schema": {"type": "string", "title": "Repo Id"}}], "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"$ref": "#/components/schemas/Body_upload_code_api_project__project_name__repos_upload_code_post"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/runs/list": {"post": {"tags": ["runs"], "summary": "List runs", "description": "Returns all runs visible to user sorted by descending `submitted_at`.\n`project_name`, `repo_id`, `username`, and `only_active` can be specified as filters.\nSetting `only_active` to `true` excludes finished runs and deleted runs.\nSpecifying `repo_id` without `project_name` returns no runs.\nAt most `job_submissions_limit` latest job submissions are returned per job.\n\nThe results are paginated. To get the next page, pass `submitted_at` and `id` of\nthe last run from the previous page as `prev_submitted_at` and `prev_run_id`.", "operationId": "list_runs_api_runs_list_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListRunsRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"items": {"$ref": "#/components/schemas/Run-Output"}, "type": "array", "title": "Response List Runs Api Runs List Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/project/{project_name}/runs/get": {"post": {"tags": ["runs"], "summary": "Get run", "description": "Returns a run given `run_name` or `id`.\nIf given `run_name`, does not return deleted runs.\nIf given `id`, returns deleted runs.", "operationId": "get_run_api_project__project_name__runs_get_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetRunRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Run-Output"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/runs/get_plan": {"post": {"tags": ["runs"], "summary": "Get run plan", "description": "Returns a run plan for the given run spec.\nThis is an optional step before calling `/apply`.", "operationId": "get_plan_api_project__project_name__runs_get_plan_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetRunPlanRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RunPlan"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/runs/apply": {"post": {"tags": ["runs"], "summary": "Apply run plan", "description": "Creates a new run or updates an existing run.\nErrors if the expected current resource from the plan does not match the current resource.\nUse `force: true` to apply even if the current resource does not match.\nIf the existing run is active and cannot be updated, it must be stopped first.", "operationId": "apply_plan_api_project__project_name__runs_apply_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApplyRunPlanRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Run-Output"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/runs/stop": {"post": {"tags": ["runs"], "summary": "Stop runs", "description": "Stop one or more runs.", "operationId": "stop_runs_api_project__project_name__runs_stop_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/StopRunsRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/runs/delete": {"post": {"tags": ["runs"], "summary": "Delete runs", "description": "Delete one or more runs. The runs must be stopped before they can be deleted.", "operationId": "delete_runs_api_project__project_name__runs_delete_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteRunsRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/gpus/list": {"post": {"tags": ["gpus"], "summary": "List GPUs", "operationId": "list_gpus_api_project__project_name__gpus_list_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListGpusRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListGpusResponse"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/metrics/job/{run_name}": {"get": {"tags": ["metrics"], "summary": "Get metrics", "description": "Returns job-level metrics such as hardware utilization\ngiven `run_name`, `run_id`, `replica_num`, and `job_num`.\nIf only `run_name` is specified, returns metrics of `(replica_num=0, job_num=0)`\nof the latest run with the given name.\nBy default, returns one latest sample. To control time window/number of samples, use\n`limit`, `after`, `before`.\n\nSupported metrics (all optional):\n* `cpus_detected_num`\n* `cpu_usage_percent`\n* `memory_total_bytes`\n* `memory_usage_bytes`\n* `memory_working_set_bytes`\n* `gpus_detected_num`\n* `gpu_memory_total_bytes`\n* `gpu_memory_usage_bytes_gpu{i}`\n* `gpu_util_percent_gpu{i}`", "operationId": "get_job_metrics_api_project__project_name__metrics_job__run_name__get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}, {"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_id", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string", "format": "uuid"}, {"type": "null"}], "title": "Run Id"}}, {"name": "replica_num", "in": "query", "required": false, "schema": {"type": "integer", "default": 0, "title": "Replica Num"}}, {"name": "job_num", "in": "query", "required": false, "schema": {"type": "integer", "default": 0, "title": "Job Num"}}, {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "default": 1, "title": "Limit"}}, {"name": "after", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "After"}}, {"name": "before", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Before"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JobMetrics"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/logs/poll": {"post": {"tags": ["logs"], "summary": "Poll logs", "operationId": "poll_logs_api_project__project_name__logs_poll_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PollLogsRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JobSubmissionLogs"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/secrets/list": {"post": {"tags": ["secrets"], "summary": "List secrets", "operationId": "list_secrets_api_project__project_name__secrets_list_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Secret"}, "title": "Response List Secrets Api Project  Project Name  Secrets List Post"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/secrets/get": {"post": {"tags": ["secrets"], "summary": "Get secret", "operationId": "get_secret_api_project__project_name__secrets_get_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetSecretRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Secret"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/secrets/create_or_update": {"post": {"tags": ["secrets"], "summary": "Create or update secret", "operationId": "create_or_update_secret_api_project__project_name__secrets_create_or_update_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateOrUpdateSecretRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Secret"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/secrets/delete": {"post": {"tags": ["secrets"], "summary": "Delete secrets", "operationId": "delete_secrets_api_project__project_name__secrets_delete_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteSecretsRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/gateways/list": {"post": {"tags": ["gateways"], "summary": "List gateways", "operationId": "list_gateways_api_project__project_name__gateways_list_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"content": {"application/json": {"schema": {"anyOf": [{"$ref": "#/components/schemas/ListGatewaysRequest"}, {"type": "null"}], "title": "Body"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Gateway"}, "title": "Response List Gateways Api Project  Project Name  Gateways List Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/gateways/get": {"post": {"tags": ["gateways"], "summary": "Get gateway", "operationId": "get_gateway_api_project__project_name__gateways_get_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetGatewayRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gateway"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/gateways/get_plan": {"post": {"tags": ["gateways"], "summary": "Get gateway plan", "description": "Returns a gateway plan for the given gateway spec.\nThis is an optional step before calling `/apply`.", "operationId": "get_plan_api_project__project_name__gateways_get_plan_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetGatewayPlanRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GatewayPlan"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/gateways/apply": {"post": {"tags": ["gateways"], "summary": "Apply gateway plan", "description": "Creates a new gateway or updates an existing gateway in-place.", "operationId": "apply_plan_api_project__project_name__gateways_apply_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApplyGatewayPlanRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gateway"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/gateways/create": {"post": {"tags": ["gateways"], "summary": "Create gateway", "description": "Deprecated in favor of `/apply`.", "operationId": "create_gateway_api_project__project_name__gateways_create_post", "deprecated": true, "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateGatewayRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gateway"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/gateways/delete": {"post": {"tags": ["gateways"], "summary": "Delete gateways", "operationId": "delete_gateways_api_project__project_name__gateways_delete_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteGatewaysRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/gateways/set_default": {"post": {"tags": ["gateways"], "summary": "Set default gateway", "operationId": "set_default_gateway_api_project__project_name__gateways_set_default_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SetDefaultGatewayRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/gateways/set_wildcard_domain": {"post": {"tags": ["gateways"], "summary": "Set wildcard domain", "description": "Deprecated in favor of `/apply` (in-place update).", "operationId": "set_gateway_wildcard_domain_api_project__project_name__gateways_set_wildcard_domain_post", "deprecated": true, "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SetWildcardDomainRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gateway"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/volumes/list": {"post": {"tags": ["volumes"], "summary": "List volumes", "description": "Returns all volumes visible to user sorted by descending `created_at`.\n`project_name` and `only_active` can be specified as filters.\n\nThe results are paginated. To get the next page, pass `created_at` and `id` of\nthe last fleet from the previous page as `prev_created_at` and `prev_id`.", "operationId": "list_volumes_api_volumes_list_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListVolumesRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"items": {"$ref": "#/components/schemas/Volume"}, "type": "array", "title": "Response List Volumes Api Volumes List Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/project/{project_name}/volumes/list": {"post": {"tags": ["volumes"], "summary": "List project volumes", "description": "Returns all volumes in the project.", "operationId": "list_project_volumes_api_project__project_name__volumes_list_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Volume"}, "title": "Response List Project Volumes Api Project  Project Name  Volumes List Post"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/volumes/get": {"post": {"tags": ["volumes"], "summary": "Get volume", "description": "Returns a volume given a volume name.", "operationId": "get_volume_api_project__project_name__volumes_get_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetVolumeRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Volume"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/volumes/create": {"post": {"tags": ["volumes"], "summary": "Create volume", "description": "Creates a volume given a volume configuration.", "operationId": "create_volume_api_project__project_name__volumes_create_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateVolumeRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Volume"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/volumes/delete": {"post": {"tags": ["volumes"], "summary": "Delete volumes", "description": "Deletes one or more volumes.", "operationId": "delete_volumes_api_project__project_name__volumes_delete_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteVolumesRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/proxy/services/{project_name}/{run_name}": {"head": {"tags": ["proxy"], "summary": "Redirect to service root", "operationId": "redirect_to_service_root_proxy_services__project_name___run_name__head", "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "patch": {"tags": ["proxy"], "summary": "Redirect to service root", "operationId": "redirect_to_service_root_proxy_services__project_name___run_name__patch", "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "delete": {"tags": ["proxy"], "summary": "Redirect to service root", "operationId": "redirect_to_service_root_proxy_services__project_name___run_name__delete", "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "put": {"tags": ["proxy"], "summary": "Redirect to service root", "operationId": "redirect_to_service_root_proxy_services__project_name___run_name__put", "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "post": {"tags": ["proxy"], "summary": "Redirect to service root", "operationId": "redirect_to_service_root_proxy_services__project_name___run_name__post", "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "get": {"tags": ["proxy"], "summary": "Redirect to service root", "operationId": "redirect_to_service_root_proxy_services__project_name___run_name__get", "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/proxy/services/{project_name}/{run_name}/{path}": {"options": {"tags": ["proxy"], "summary": "Proxy service request", "operationId": "service_reverse_proxy_proxy_services__project_name___run_name___path__options", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}, {"name": "path", "in": "path", "required": true, "schema": {"type": "string", "title": "Path"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "head": {"tags": ["proxy"], "summary": "Proxy service request", "operationId": "service_reverse_proxy_proxy_services__project_name___run_name___path__head", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}, {"name": "path", "in": "path", "required": true, "schema": {"type": "string", "title": "Path"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "patch": {"tags": ["proxy"], "summary": "Proxy service request", "operationId": "service_reverse_proxy_proxy_services__project_name___run_name___path__patch", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}, {"name": "path", "in": "path", "required": true, "schema": {"type": "string", "title": "Path"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "delete": {"tags": ["proxy"], "summary": "Proxy service request", "operationId": "service_reverse_proxy_proxy_services__project_name___run_name___path__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}, {"name": "path", "in": "path", "required": true, "schema": {"type": "string", "title": "Path"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "put": {"tags": ["proxy"], "summary": "Proxy service request", "operationId": "service_reverse_proxy_proxy_services__project_name___run_name___path__put", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}, {"name": "path", "in": "path", "required": true, "schema": {"type": "string", "title": "Path"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "post": {"tags": ["proxy"], "summary": "Proxy service request", "operationId": "service_reverse_proxy_proxy_services__project_name___run_name___path__post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}, {"name": "path", "in": "path", "required": true, "schema": {"type": "string", "title": "Path"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}, "get": {"tags": ["proxy"], "summary": "Proxy service request", "operationId": "service_reverse_proxy_proxy_services__project_name___run_name___path__get", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}, {"name": "run_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Run Name"}}, {"name": "path", "in": "path", "required": true, "schema": {"type": "string", "title": "Path"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/proxy/models/{project_name}/models": {"get": {"tags": ["proxy"], "summary": "Get Models", "operationId": "get_models_proxy_models__project_name__models_get", "deprecated": true, "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ModelsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/proxy/models/{project_name}/chat/completions": {"post": {"tags": ["proxy"], "summary": "Post Chat Completions", "operationId": "post_chat_completions_proxy_models__project_name__chat_completions_post", "deprecated": true, "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChatCompletionsRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChatCompletionsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/metrics": {"get": {"tags": ["metrics"], "summary": "Get Prometheus metrics", "operationId": "get_prometheus_metrics_metrics_get", "responses": {"200": {"description": "Successful Response", "content": {"text/plain": {"schema": {"type": "string"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/files/get_archive_by_hash": {"post": {"tags": ["files"], "summary": "Get file archive by hash", "operationId": "get_archive_by_hash_api_files_get_archive_by_hash_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetFileArchiveByHashRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FileArchive"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/files/upload_archive": {"post": {"tags": ["files"], "summary": "Upload file archive", "operationId": "upload_archive_api_files_upload_archive_post", "requestBody": {"content": {"multipart/form-data": {"schema": {"$ref": "#/components/schemas/Body_upload_archive_api_files_upload_archive_post"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FileArchive"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/events/list": {"post": {"tags": ["events"], "summary": "List events", "description": "Returns events visible to the current user.\n\nRegular users can see events related to themselves and to projects they are members of.\nGlobal admins can see all events.\n\nThe results are paginated. To get the next page, pass `recorded_at` and `id` of\nthe last event from the previous page as `prev_recorded_at` and `prev_id`.\n\nNOTE: Some events may become available in the API with a delay after their `recorded_at`.\nThis should be taken into account when using the API to monitor recent events,\nso that delayed events are not missed during pagination.", "operationId": "list_events_api_events_list_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListEventsRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"items": {"$ref": "#/components/schemas/Event"}, "type": "array", "title": "Response List Events Api Events List Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/api/project/{project_name}/templates/list": {"post": {"tags": ["templates"], "summary": "List templates", "operationId": "list_templates_api_project__project_name__templates_list_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/UITemplate"}, "title": "Response List Templates Api Project  Project Name  Templates List Post"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/exports/create": {"post": {"tags": ["exports"], "summary": "Create export", "operationId": "create_export_api_project__project_name__exports_create_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateExportRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Export"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/exports/update": {"post": {"tags": ["exports"], "summary": "Update export", "operationId": "update_export_api_project__project_name__exports_update_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateExportRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Export"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/exports/delete": {"post": {"tags": ["exports"], "summary": "Delete export", "operationId": "delete_export_api_project__project_name__exports_delete_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteExportRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/exports/list": {"post": {"tags": ["exports"], "summary": "List exports", "operationId": "list_exports_api_project__project_name__exports_list_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Export"}, "title": "Response List Exports Api Project  Project Name  Exports List Post"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/imports/delete": {"post": {"tags": ["exports"], "summary": "Delete import", "operationId": "delete_import_api_project__project_name__imports_delete_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "path", "required": true, "schema": {"type": "string", "title": "Project Name"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteImportRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequestErrorModel"}}}}, "403": {"description": "Access denied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccessDeniedErrorModel"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/api/project/{project_name}/imports/list": {"post": {"tags": ["exports"], "summary": "List imports", "operationId": "list_imports_api_project__project_name__imports_list_post", "security": [{"HTTPBearer": []}], "parameters": [{"name": "project_name", "in": "p
[...]
